# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Homework1/AS01_Result
/Homework1/11006*
/Homework1/AS01_Framework/HW1_VS2017_Framework

/Homework2/AS02_Demo
/Homework2/NormalModels
/Homework2/HW2_VS2017_Framework
/Homework2/11006*

/Homework3/AS03_Demo
/Homework3/AS03_OpenGLFramework-VS2017
/Homework3/11006*